<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589743693119-gkgu7kp1c50tkg7hmd7vrkspnboih953.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589743693119-gkgu7kp1c50tkg7hmd7vrkspnboih953</string>
	<key>API_KEY</key>
	<string>AIzaSyBgkQXhmf-PHGR9EGKrSL8nT2c1o7xM8rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>589743693119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exams.ems</string>
	<key>PROJECT_ID</key>
	<string>ems-exam-f876a</string>
	<key>STORAGE_BUCKET</key>
	<string>ems-exam-f876a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589743693119:ios:b572c899f439fc315e078a</string>
</dict>
</plist>